@use 'font';
@use 'colours';

body {
  font-family: font.$family;
  color: colours.$white;
  line-height: 1.6;
}

a {
  text-decoration: underline;
  color: colours.$link;

  &:visited {
    color: colours.$link-visited;
  }
}